.RepositoryLoader {
    margin: 0 15px 15px;
    position: relative;
    background: #F7F7F7;
    height: 40px;
    border-radius: 3px;
    .resize {
        height: 15px;
        width: 205px;
        padding: 14px 0 0 15px;
    }
}
